<%#= link_to 'New Blog', new_blog_path %>
<div class="product">
	<div class="area">
		<div class="contact-block">

			<div class="heading" style="padding-bottom: 0px;">
				<h2>Blogs</h2>
			</div>

			<div class="content">
				<% @blogs.each do |blog| %>

				<h1><%= blog.title %></h1>
				<p>
					<%= blog.description[0..20] %>... by User<%#= blog.user.name) %> <%= time_ago_in_words(blog.created_at) %> ago
				</p>
				<p>
					<%= link_to 'More', blog %>  <%#= link_to 'Post Blog', new_blog_path %>
				</p>
				<br />
				<% end %>

			</div>
		</div>
	</div>
</div>