<% content_for :title, "Get Paid - " %>
<p id="notice"><%= notice %></p>

<h2>How To Get Paid</h2>
<strong>Thank you for choosing Depstar as your fastest, most secure way to get paid.</strong>
<p>Unlike our competitors, there is no “waiting period” for payment: the minute a member of our staff receives your product, we issue payment immediately. Read the fine print at Gazelle or YouRenew — most websites take up to a week to issue payment.</p>
<div class="two-box">
	<div class="small-box">
		<div class="t"></div>
		<div class="c">
			<div class="c-holder">
				<h4>Want cash instantly?</h4>
				<p>Request to be paid via PayPal. Depstar will pay you within minutes of accepting your package. Your money will then be ready for immediate withdrawal.</p>
			</div>
		</div>
		<div class="b"></div>
	</div>
	<div class="big-box">
		<div class="t"></div>
		<div class="c">
			<div class="c-holder">
				<h4>Not in a rush?</h4>
				<p>Request a check. Your check will be sent out that same day. On average, this takes 3-4 business days.</p>
				<p>Regardless of your payment choice, we are the easiest, fastest, and safest way to get paid for your item.</p>
			</div>
		</div>
		<div class="b"></div>
	</div>
</div>