<% content_for :title, "Get Paid - " %>
<p id="notice"><%= notice %></p>

<div style='padding: 0px 20px 0px 20px; '>
	
	<h1>How To Get Paid</h1>

	<p>Thank you for choosing Depstar as your fastest way to get paid.</p>

	<p>Unlike our competition we do not have a holding period on your item. The second our hands touch your product, you get paid within minutes. If you read the fine print within most of our competitors FAQ page, they can take up to a week to pay you.</p>

	<p>Want cash instantly?</p>

	<p>Request to be paid via PayPal. Depstar will pay you within minutes of accepting your package. Your money will be ready for immediate withdrawal within minutes.</p>

	<p>Not in a rush?</p>

	<p>Request a check. Your check will be sent out that same day 1st Class Mail and could take up to 5 business days to receive in the mail.</p>

	<p>Regardless of what your payment choice we promise and easy, fast and safe way to get paid for your item.</p>

</div>
