<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Hello <%= @username %>,</h3>
	
		<h3> Your profile has been updated on Depstar.com</h3>
		
		<p>Your password and some other details has been changed.</p>
		
		<p>
			<b>Username:</b> <%= @username %> 
		</p>
		<p>
			<b>Password:</b> <%= @password %> 
		</p>
		<p>
			<b>Url:</b> <%= link_to "Click Here Login","#{@root}/affiliate" %>. 
		</p>		
		<p>
			~ The Depstar Team ~ <br>
			www.depstar.com <br>
			info@depstar.com
		</p>
		<p>
			<img src='http://depstar.com/images/logo.png' width='150'>
		</p>
		
  </body>
</html>