<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Corporate Contact</h1>

	<div>
		<p>
		  <b>Name:</b>
		  <%= @corporate_message.name %> 
		</p>
		
		<p>
		  <b>Email:</b>
		  <%= @corporate_message.email %>
		</p>	
		
		<p>
		  <b>Phone:</b>
		  <%= @corporate_message.phone %>
		</p>
			
		<p>
		  <b>Message:</b>
		  <%= @corporate_message.message %>
		</p>
		
	</div>

  </body>
</html>