<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thanks for selecting Depstar.com, <%= @username %> <%= @email %> <%= @password %></h1>
		
	
	
	
		<h3>What happens next?</h3>
		
		<p>First, a FREE Depstar "shipping kit" is being sent to the address you provided. This kit includes a prepaid mailing pack. Once you receive this kit, simply put your device in the prepaid package and pop it in any USPS box, hand it to your mail man or bring it to your local post office. If you are sending more than one device, please include each device in the same package. Depstar will receive your product within 2-3 days. Depstar uses priority shipping to help get you paid faster.</p>

		<p>Next, it's time to get you paid. Depstar receives, inspects, and issues payment for your order all same-day. Expect your payment fast. If you selected PayPal, your payment posts the same day we receive your device(s). If you selected to be paid by check, your check is processed and mailed immediately upon receiving your device(s).</p>

		<p>As always, Depstar wants to make sure you are 100% satisfied with your transaction. If at any point you have questions or concerns, send us an email.</p>

		<p>Thank you for your business and support. We appreciate your help in trying to make Depstar your one-stop-shop for selling your electronics!</p>

		<p>
			~ The Depstar Team ~ <br>
			www.depstar.com <br>
			info@depstar.com
		</p>
		<p>
			<img src='http://depstar.com/images/logo.png' width='150'>
		</p>
		
  </body>
</html>