<div>
    
  <div class="margin: 0px 10px;">
    <h1>Affiliate Panel</h1>
    <!--
    <h3 class="admin_header">
      <%#= link_to 'Carriers', carriers_path %>			  
	</h3>
	<h3 class="admin_header">
		<%#= link_to 'Categories', categories_path %>      
    </h3>
    <h3 class="admin_header">		
      <%#= link_to 'Manufacturers', manufacturers_path %>
    </h3>
    <h3 class="admin_header">  
      <%#= link_to 'Users', users_path %>
    </h3>
    <h3 class="admin_header">
	  <%#= link_to 'Products', products_path %>
	</h3>
	-->
	<h3 class="admin_header">
	  <%= link_to 'Shipping Requests', shipping_requests_path %>
    </h3>
  
	</div>
  
  <div class="clear"></div>
  
</div>
