
<div id="active_admin_content" class="without_sidebar">
	<div id="main_content_wrapper">
		<div id="main_content">
			<div class="panel">
				<h3>Admin Affiliate Pricing</h3>
				<div class="panel_contents">
					<div class="attributes_table users">
						<%#= form_tag("/suggest_price_type") do -%>
						<table border="0" cellspacing="0" cellpadding="0">
							<tr>
								<th> Product </th>
								<th> Affiliate Broken </th>								
								<th> Affiliate Used  </th>								
							</tr>
							<% @user.products.order("name").each do |product| %>
							<tr>
								<td> <%= product.name 	%> </td>								
								<td> $<%= get_suggested_price(product.id, session[:current_user]).broken_price  %> </td>								
								<td> $<%= get_suggested_price(product.id, session[:current_user]).used_price  %> </td>
								<td> <%#= link_to "Delete Product","/delete_affiliate_product/#{product.id}/#{@user.id}",:confirm => "Are you sure you want to delete this product ?"  %> </td>
								<%#= hidden_field_tag "affiliates[product_id][]", product.id %> </td>
							</tr>
							<% end %>
							<%#= hidden_field_tag "user_id", @user.id %>							
						</table>
						<div class="actions">
							<%#= submit_tag "Submit" %>
						</div>
						<%# end -%>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

