<% content_for :title, "Corporate - " %>
<p id="notice"><%= notice %></p>

<h2>Do you own a Business?</h2>
<p>Worried about your company’s bottom line? Let Depstar get your company extra cash. We will buy anything that is sitting in your office. Let Depstar make a bid on your company’s used electronics. We will even buy your compan’s furniture and unused custodial supplies. We buy it all. Get an offer on everything. Please fill out the form below or simply click on live chat for instant service.</p>
<form action="#" class="sell-form">
	<fieldset>
		<div class="text-holder">
			<div class="text">
				<input class="text" type="text" value="Name" />
			</div>
			<div class="text">
				<input class="text" type="text" value="Email" />
			</div>
			<div class="text">
				<input class="text" type="text" value="Phone #" />
			</div>
		</div>
		<div class="textarea">
			<textarea cols="30" rows="20">Questions? Items you want to sell?</textarea>
		</div>
		<input type="submit" class="btn-sell-form" />
	</fieldset>
</form>