<p id="notice"><%= notice %></p>

<div style='padding: 0px 20px 0px 20px; '>
	<p>Worried about your companies bottom line. Let Depstar get your company extra cash. We will buy anything that is sitting in your office. Let Depstar make a bid on your companies used electronics. We will even buy your companies furniture and unused custodial supplies. We buy it all. Get an offer on everything. Please fill out a company submission form or simply click on live chat for instant service.</p>

</div>
