* { 
	margin:0; 
	padding:0;
}
ul, ol, dl, p, h1, h2, h3, h4, h5, h6, address, form, table, blockquote, applet, embed, object, iframe, frameset{margin:0 0 14px;}
html, body, div, span, applet, embed, object, iframe, frameset,
p, q, blockquote, sub, sup, a, abbr, acronym, font, img, small, center,
h1, h2, h3, h4, h5, h6, b, strong, big, u, ins,
i, cite, em, var, dfn, address, s, strike, del,
dl, dt, dd, ol, ul, li, pre, code, kbd, samp, tt,
fieldset, legend, form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio,video{
	border:0;
	background:none;
}
body {
	margin:0;
	color:#808080;
	font:14px/16px Arial, Helvetica, sans-serif;
	background:#fff url(../images/bg-body.gif) repeat-x;
	min-width:960px;
}
a {
	text-decoration:none;
	color:#000;
}
a:hover {text-decoration:underline;}
input[type=submit]:hover{cursor:pointer;}
input, textarea, select {
	font:100% arial,sans-serif;
	vertical-align:middle;
	color:#000;
	overflow: auto;
}
label{vertical-align:middle;}
button, input{
	width: auto;
	overflow: visible;
}
h1, h2, h3, h4, h5, h6, b, strong, th{font-weight:bold;}
h1{font-size:200%;}
h2{font-size:150%;}
h3{font-size:120%;}
h4{font-size:110%;}
h5{font-size:100%;}
h6{font-size:90%;}
i, cite, em, var, dfn, address{font-style:italic;}
u, ins {text-decoration: underline;}
s, strike, del {text-decoration: line-through;}
blockquote, blockquote:before, blockquote:after, q, q:before, q:after {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';}
table, caption, tbody, tfoot, thead, tr, th, td{
	border-collapse: collapse;
	border-spacing: 0;
}
th, td{
	border:1px solid #ccc;
	padding:3px 7px;
	text-align:left;
	vertical-align:top;
}
th{
	border-color:#999;
	text-align:center;
	vertical-align:middle;
}
ul{margin-left:1px;}
ul li, ol li{list-style-position:inside;}
ul li{list-style-type:disc;}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
.alignleft{float:left;}
.alignright{float:right;}
.aligncenter{
	display:block;
	margin:0 auto;
}
.page{
	overflow:hidden;
	width:100%;
	background:url(../images/bg-footer.gif) repeat-x 0 100%;
}
#wrapper{
	overflow:hidden;
	width:946px;
	margin:0 auto;
	padding:24px 0 0;
}
#header{
	background:url(../images/bg-header.png) no-repeat;
	overflow:hidden;
	padding:0 0 7px;
}
.header-holder{
	background:url(../images/shadow-header.png) no-repeat 0 100%;
	padding:17px 27px 55px 31px;
	overflow:hidden;
}
.logo{	background:url(../images/logo.png) no-repeat;	width:307px;	height:63px;	overflow:hidden;	text-indent:-9999px;
	float:left;
	margin:0;}.logo a{	height:100%;	display:block;}
.btn-quote{
	float:right;
	width:307px;
	height:42px;
	background:url(../images/bg-buttons.png) no-repeat;
	text-indent:-9999px;
	margin:13px 0 0;
	overflow:hidden;
}
#main{
	overflow:hidden;
	padding:0 0 20px;
}
#content{
	float:left;
	width:620px;
	padding:0 0 0 2px;
}
.description-box{
	overflow:hidden;
	background:url(../images/bg-description-box.gif) repeat-x 0 100%;
	padding:0 0 22px;
}
.description-box.add{padding:28px 0 23px;}
.description-box p{margin:0 0 18px;}
.description-box h2{
	margin:0 0 7px;
	font-size:24px;
	line-height:27px;
}
.description-box h2 a{color:#252525;}
.date-box{
	overflow:hidden;
	color:#8d8d8d;
	padding:0 0 10px;
}
.date-box span{color:#b7b7b7;}
.date-box a{color:#ed8b0a;}
.social-box{
	overflow:hidden;
	padding:4px 0 24px;
}
.social-box img{vertical-align:top;}
.info-box{
	overflow:hidden;
	color:#666;
	line-height:17px;
}
.info-box .alignleft{
	border:1px solid #d8d8d8;
	margin:1px 22px 0 0;
}
.info-box p{margin:0 0 16px;}
.info-box p a{
	font-weight:bold;
	color:#dc9405;
}
.description-box .tags-box{
	overflow:hidden;
	padding:6px 0 0;
}
.description-box .tags-box strong{
	float:left;
	color:#909090;
	font-size:17px;
	line-height:19px;
	letter-spacing:1px;
	padding:0 14px 0 0;
}
.description-box .tags-box span{
	float:left;
	color:#0c0c0c;
	padding:1px 0 0 0;
	margin:0 0 0 -4px;
}
#content .btn-holder{
	overflow:hidden;
	padding:20px 0 4px;
}
#content .btn-holder .btn{
	overflow:hidden;
	float:left;
	width:178px;
	height:36px;
	background:url(../images/bg-buttons.png) no-repeat 0 -57px;
	text-indent:-9999px;
}
#sidebar{
	width:302px;
	float:right;
	padding:4px 0 0;
}
.side-box{
	width:302px;
	overflow:hidden;
	margin:0 0 30px;
}
#sidebar .heading-box{
	background:url(../images/bg-heading.png) no-repeat;
	overflow:hidden;
	padding:12px 0 0 17px;
	min-height:27px;
}
#sidebar .heading-box h3{
	margin:0 10px 0 0;
	color:#fff;
	font-size:15px;
	line-height:18px;
	text-shadow:1px 0 1px #85b211;
}
.side-holder{
	overflow:hidden;
	background:url(../images/bg-side-box.png) no-repeat 0 100%;
	width:301px;
	padding:0 0 16px;
}
.side-frame{
	float:left;
	width:301px;
	background:url(../images/bg-side-box.png) repeat-y -302px 0;
}
.social-list{
	overflow:hidden;
	margin:0 0 0 1px;	padding:16px 0 2px 15px;	list-style:none;
	background:url(../images/bg-side-box-2.png) no-repeat;
}
.social-list li{
	list-style:none;	list-style-position:outside;
	vertical-align:top;
	float:left;
	padding:0 15px 0 0;
}
.social-list li a{
	float:left;
	background:url(../images/bg-social-icons.png) no-repeat;
	width:32px;
	height:32px;
}
.social-list li .twitter{background-position:0 -52px;}
.social-list li .google{background-position:0 -107px;}
.social-list li .linkedin{background-position:0 -164px;}
.social-list li .youtube{background-position:0 -216px;}
.social-list li .rss{background-position:0 -276px;}
.search-form,
.sign-form{
	overflow:hidden;
	padding:12px 0 0 15px;
	background:url(../images/bg-side-box-2.png) no-repeat -320px 0;
	margin:0 0 0 1px;
}
.sign-form h4{
	margin:0 0 15px;
	color:#2d2d2d;
	font-weight:normal;
}
.search-form,
.sign-form .row{overflow:hidden;}
.search-form .text,
.sign-form .text{
	float:left;
	width:185px;
	background:url(../images/bg-input.png) no-repeat;
	height:24px;
	font-size:12px;
	line-height:14px;
}
.search-form .text input,
.sign-form .text input{
	float:left;
	background:none;
	border:0;
	padding:4px 5px 3px 13px;
	width:167px;
	margin:0;
	color:#cfcfcf;
	font-style:italic;
}
.search-form .submit,
.sign-form .submit{
	float:left;
	background:url(../images/bg-input.png) no-repeat 0 -31px;
	width:74px;
	border:0;
	padding:0 0 4px;
	height:22px;
	margin:1px 0 0 10px;
	color:#fff;
	font-size:11px;
	line-height:12px;
}
.sign-form .submit:hover,
.search-form .submit:hover{
	background:url(../images/bg-input.png) no-repeat -80px -31px;
}
.sign-form span{
	display:block;
	font-size:9px;
	line-height:12px;
	color:#aeaeae;
	padding:7px 0 0;
}
.sign-form span a{color:#ee920a;}
.categories-list{
	margin:0;	padding:23px 0 0 20px;	list-style:none;
	overflow:hidden;
	background:url(../images/bg-side-box-2.png) no-repeat -959px 0;
}
.categories-list li{
	vertical-align:top;
	overflow:hidden;
	list-style:none;	list-style-position:outside;
	padding:0 0 8px;
}
.categories-list li a{
	float:left;
	padding:0 0 0 25px;
	background:url(../images/arrow.png) no-repeat 0 4px;
	color:#262626;
}
.search-form{
	background-position:-639px 0;
	padding:16px 0 1px 15px;
}
.comments-list{
	margin:0 0 -12px 1px;	padding:0;	list-style:none;
	overflow:hidden;
	background:url(../images/bg-side-box-2.png) no-repeat -1280px 0;
	color:#2d2d2d;
}
.comments-list li{
	overflow:hidden;
	vertical-align:top;
	list-style:none;	list-style-position:outside;
	padding:17px 5px 15px 17px;
	background:url(../images/bg-comment-box.gif) repeat-x;
	margin:0 1px;
}
.comments-list li:first-child{background:none;}
.comments-list .image{float:left;}
.comments-list .image img{vertical-align:top;}
.comments-list .text-box{
	float:left;
	width:170px;
	padding:0 0 0 10px;
}
.comments-list .text-box span{
	display:block;
	padding:0 0 7px;
}
.comments-list .text-box span a{color:#2d2d2d;}
.comments-list .comments{
	color:#909090;
	font-size:12px;
	line-height:15px;
}
#content .image{
	vertical-align:top;
	margin:0 0 26px;
}
#content .link{
	float:left;
	color:#fff;
	background:#ed8b0a;
	margin:0 7px 0 0;
	padding:1px 8px;
}
.contribute-box{
	overflow:hidden;
	padding:31px 0 30px;
	color:#414b52;
	font-size:12px;
	line-height:15px;
}
.comments-blocks h3,
.contribute-box h3{
	margin:0 0 3px;
	font-size:13px;
	line-height:15px;
	text-transform:uppercase;
}
.contribute-holder{
	overflow:hidden;
	background:url(../images/bg-contribute-box.png) no-repeat 0 100%;
	width:612px;
	padding:0 0 5px;
}
.contribute-frame{
	width:612px;
	float:left;
	background:url(../images/bg-contribute-box.png) repeat-y -612px 0;
}
.contribute-area{
	float:left;
	width:595px;
	background:url(../images/bg-gradient.gif) repeat-x 0 100%;
	margin:0 0 0 1px;
	padding:0 0 10px 15px;
}
.info-holder{
	overflow:hidden;
	padding:20px 0 27px;
}
.info-holder .ico{
	float:left;
	margin:2px 0 0;
}
.info-holder .post-box{
	float:left;
	padding:0 0 0 15px;
	width:535px;
}
.info-holder .post-box strong{
	display:block;
	font-size:20px;
	line-height:23px;
	font-weight:normal;
}
.info-holder .post-box strong a{color:#414b52;}
.post-list{
	overflow:hidden;
	margin:0;	padding:0;	list-style:none;
	font-size:11px;
	line-height:13px;
}
.post-list li{
	float:left;
	list-style:none;	list-style-position:outside;
	padding:0 12px 0 13px;
	background:url(../images/separator-2.gif) no-repeat 0 3px;
	color:#9ca1a5;
}
.post-list li:first-child{
	background:none;
	padding-left:0;
	font-style:italic;
}
.post-list li:first-child a{
	text-decoration:underline;
	color:#9ca1a5;
}
.post-list li:first-child a:hover{text-decoration:none;}
.post-list li .link-2{
	color:#d95b44;
}
.contribute-box p{margin:0 0 10px;}
.comments-blocks{
	width:612px;
	overflow:hidden;
	padding:0 0 13px;
}
.comments-blocks h3{
	border-bottom:1px dotted #e5e5e5;
	color:#414b52;
	padding:0 0 3px;
	margin:0 0 15px;
}
.comments-holder{
	width:612px;
	overflow:hidden;
	background:url(../images/bg-comment-box-2.png) no-repeat 0 100%;
	padding:0 0 6px;
	font-size:12px;
}
.comments-frame{
	float:left;
	width:597px;
	background:url(../images/bg-comment-box-2.png ) repeat-y -612px 0;
	padding:0 0 0 15px;
}
.comments-blocks .date{
	color:#a0a5a8;
	font-size:11px;
}
.info-holder .post-box .holder{overflow:hidden;}
.info-holder .post-box .holder strong{float:left;}
.info-holder .post-box .reply-btn{
	float:right;
	color:#d95b44;
	margin:2px 2px 0 0;
}
.comments-blocks .info-holder{padding:17px 0 24px;}
.comments-blocks p{margin:0 0 18px;}
.comments-2{
	overflow:hidden;
	padding:0 0 0 45px
}
.comments-2 .comments-holder{
	width:567px;
	background-position:-1224px 100%;
}
.comments-2 .comments-frame{
	width:567px;
	background-position:-1791px 0;
}
.comments-2 .info-holder .post-box{width:490px;}
.comments-blocks.add{padding:39px 0 0;}
.comments-from{
	overflow:hidden;
	width:607px;
	padding:5px 0 28px 3px;
}
.comments-blocks .heading{border:0;}
.comments-from .row:first-child{background-position:0 0;}
.comments-from .row{
	overflow:hidden;
	background:url(../images/bg-comment-form.png) no-repeat -607px 0;
	padding:0 0 3px;
}
.comments-from .row-holder{
	border-top:1px solid #e5e4e4;
	margin:0 0 0 1px;
	overflow:hidden;
	padding:11px 0 4px;
}
.comments-from .row:first-child .row-holder{
	border:0;
	padding:11px 0 3px;
}
.comments-from .label{
	float:left;
	width:90px;
	padding:11px 32px 0 12px;
	font-size:13px;
	line-height:15px;
	color:#565555;
	text-shadow:1px 0 0 #fff;
}
.comments-from .text{
	float:left;
	background:url(../images/bg-input.png) no-repeat 0 -100px;
	width:332px;
}
.comments-from .text input{
	float:left;
	width:312px;
	padding:12px 10px;
	border:0;
	background:none;
	margin:0;
}
.comments-from .row.last{background-position:-1214px 0;}
.comments-from .row.last .row-holder{padding:15px 0 0;}
.comments-from .textarea{
	width:442px;
	float:left;
	background:url(../images/bg-input.png) no-repeat 0 -226px;
}
.comments-from .textarea textarea{
	height:116px !important;
	width:432px !important;
	padding:5px;
	margin:0;
	border:0;
	background:none;
	float:left;
}
.submit-holder{
	overflow:hidden;
	padding:15px 0 16px 136px;
}
.comments-from .submit{
	float:left;
	width:116px;
	height:43px;
	background:url(../images/bg-buttons.png) no-repeat 0 -108px;
	border:none;
	font-size:0;
	line-height:0;
	text-indent:-9999px;
	cursor:pointer;
	overflow:hidden;
}
#footer{
	overflow:hidden;
	margin:0 auto;
	width:946px;
	background:url(../images/shadow-footer.png) no-repeat 50% 0;
	padding:43px 0 40px;
}
.footer-panel{
	width:660px;
	float:left;
	color:#a1a1a1;
	padding:0 0 0 6px;
	font-size:13px;
	line-height:17px;
}
.footer-nav{
	margin:0;	padding:0 0 7px;	list-style:none;
	overflow:hidden;
}
.footer-nav li{
	float:left;
	background:url(../images/separator.gif) no-repeat 0 2px;
	padding:0 13px;
	list-style:none;	list-style-position:outside;
}
.footer-nav li:first-child{
	background:none;
	padding:0 14px 0 0;
}
.footer-nav li a{
	float:left;
	color:#424242;
}
.footer-panel p{margin:0;}
.footer-socials{
	float:right;
	padding:0;
	margin:0;
	background:none;
}
.footer-socials li{
	display:inline-block;
	text-align:right;
	float:none;
	vertical-align:top;
	padding:0 9px 0 0;
}
.footer-socials li a{background:url(../images/bg-social-icons.png) no-repeat 0 -335px;}
.footer-socials li .twitter{background-position:0 -402px;}
.footer-socials li .youtube{background-position:0 -458px;}