<% content_for :title, "Go Green - " %>
<p id="notice"><%= notice %></p>

<h2>Depstar.com: The Greenest Re-commerce Online</h2>
<div class="content-holder">
	<div class="content">
		<p>The amount of used electronics in the marketplace is mind-boggling. The latest CNN figures report that the average American owns nearly six different pieces of computer-based electronics. With technology evolving on a daily basis, this figure can only go higher. Rather than using your phone for parts, Depstar improves and resells your product wholesale, ensuring your phone never ends up in a landfill.</p>
		<p>Estimates exceed that there are more than one billion unused cell phones in the United States, alone. These phones are currently sitting in homes and offices around the country. About 40% of these phones will get recycled within five years of original production for no cash value. Nearly 60% of cell phones get thrown away, enter landfills, and harm the environment. A cell phone can last almost 20,000 years in a landfill and cell-phone batteries release lethal toxins into the earth.</p>
		<p>Depstar offers a truly “green” solution to those problems by offering you cash for your unused electronics, and reselling your product to those who will use it. If for some reason we cannot offer you a cash value for your electronic, we offer you a free recycling solution, making Depstar the single greenest re-commerce website on the internet.</p>
	</div>
	<div class="aside">
		<div class="t"></div>
		<div class="c">
			<div class="c-holder">
				<h3>Other Green Depstar Facts:</h3>
				<ul class="info">
					<li>All unwanted batteries are sent to the most trusted battery-recycling plant in the Nation</li>
					<li>Depstar never disposes of old electronic parts, and instead recycles or reuses them</li>
					<li>Nearly 40% of Depstar customers use Depstar again within two weeks of their first trade-in.</li>
					<li>The average customer receives $156.48 from our trade-in program.</li>
				</ul>
			</div>
		</div>
		<div class="b"></div>
	</div>
</div>