<p id="notice"><%= notice %></p>

<div style='padding: 0px 20px 0px 20px; '>


	<h3>Go Green And Get Green At The Same Time</h3>
	
	<p>With technology changing on nearly a daily basis it means that more and more electronics are hitting an already flooded market place. When Depstar brewed the idea to pay people for their unused and unwanted items we realized that this is not only good for the clients pocket, but more importantly is saving the environment one cell phone and one computer at a time.</p>

	<p>Estimates exceed that there are over a <b>Billion</b> (Yes, 1,000,000,000.00+) cell phones being unused in the United States alone. These phones are currently sitting in homes and offices around the country.  About 40% of these phones will get recycled within 5 years of its original production date for no cash value.  Nearly 58% of cell phones get thrown away and harm the environment. A cell phone can last almost 20,000 years in a landfill and the battery component of the phone is a lethal dose to the earth. The most starting number is that only 2% of cell phones are traded in for cash value. Depstar is here to help this 2% of phones. It is our goal by 2025 to make this 2% statistic multiply by 10x. Who knows, maybe one day all cell phones and other electronics will be appropriately re-used or recycled.</p>

	<p>If people knew they had the choice to get a cash value for their used cell phone or other gadget, we would be doing the world a favor and putting cash in your pocket. Lets stop putting millions of pounds of waste into landfills. If for some reason we cannot offer you a cash value for your electronic we would be more than happy to offer you a free recycling solution.</p>

	<h4>Other Green Depstar Facts:</h4>
	
	<ul>
		<li>The average customers receives $156.48 from our trade in program.</li>
		<li>We have affiliate programs for re-commerce in every state in the United States.</li> 
		<li>Most people come back with another trade in within 2 weeks after their first trade in.</li>
		<li>Depstar customers are always happy.</li>
		<li>Green is everyones favorite color.</li>
	</ul>

</div>
