<div style='padding: 10px;' class='contact_us'>
	
	<div class='departments'>
		<h2>Departments</h2>
	
		<h4>Support:</h4>
		<span>support@depstar.com</span>

		<h4>Payments:</h4>
		<span>support@depstar.com</span>

		<h4>Wholesale:</h4>
		<span>wholesale@depstar.com</span>

		<h4>Corporate</h4>
		<span>corporate@depstar.com</span>

		<h4>Media</h4>
		<span>media@depstar.com</span>

		<h4>General</h4>
		<span>general@depstar.com</span>
	
		<h3>Mailing Address</h3>	
		<p>
			Depstar.com <br/>
			PO Box 52604 <br/>
			Boston, MA 02205
		</p>
	</div>
	
</div>