<div style='padding: 10px; background:#c8c7c7; height: 270px;'>
	
	<h2>Contact Us</h2>
	
	<h4>Depstar LLC</h4>
	
	<p>70 Commandants Way <br/>
	Chelsea, Ma 02150
	</p>

	<p><a href='mailto:info@depstar.com'>info@depstar.com</a></p>
	
</div>