<div style='padding: 10px; background:#c8c7c7; height: 270px;'>
	
	<h2>Contact Us</h2>
	
	<h4>Depstar LLC</h4>
	
	<p>PO Box 52604<br/>
	Boston, MA 02205
	</p>

	<p><a href='mailto:info@depstar.com'>info@depstar.com</a></p>
	
</div>