<% content_for :title, "Sell " + @category.name + " - " %>
<p id="notice"><%= notice %></p>



<!-- <div id="main">
	<div class="holder">
		<div class="product"> -->
			<!-- <h2>Sell your Blackberry cell phone <span>Choose your carrier</span></h2>
						<ul class="carrier">
							<li>
								<a href="#"><span><img src="/images/logo1.png" alt="image description" width="146" height="66" /></span></a>
							</li>
							<li>
								<a href="#"><span><img src="/images/logo2.png" alt="image description" width="118" height="66" /></span></a>
							</li>
							<li>
								<a href="#"><span><img src="/images/logo3.png" alt="image description" width="161" height="67" /></span></a>
							</li>
							<li>
								<a href="#"><span><img src="/images/logo4.png" alt="image description" width="170" height="28" /></span></a>
							</li>
						</ul> -->
			<!-- <div class="items-holder">				
				<table class="sell-table">
					<thead>
						<tr>
							<td colspan="5">These are the <%#= @category.name %> we currently buy: </td>
						</tr>
					</thead>
					<tbody>
						<%# @products.each_slice(5) do |slice| -%>
						<tr>
							<%# @counter = 0 %>
							<%# slice.each do |product| %>
								<%# @counter += 1 %>
							<td width=177px>
								<%#= link_to image_tag(product.photo.url(:small)), product %>
								<p><%#= product.name %></p><%#= link_to "Sell Now", product, :class => "sell" %>
							</td>							
							<%# end %>
							<%# for i in @counter..4 %>
								<td></td>
							<%# end %>
							</tr>
							<%# end %>
							
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
              --> 


