<div id="main">
	<div class="holder">
		<div class="checkout-block">
			<h2>Checkout</h2>
			<ul id="steps">
				<li class="checked first"><a class="email" href="#"><span>Email</span></a></li>
				<li class="checked"><a class="get-paid" href="#"><span>Get Paid</span></a></li>
				<li class="checked"><a class="shipping" href="#"><span>Shipping</span></a></li>
				<li class="last active"><a class="confirm" href="#"><span>Confirm</span></a></li>
			</ul>
			<div class="steps-area contact">
				<div class="headline">
					<h4>Contact Email</h4>
				</div>
				<p>All emails about your order will be sent here:</p>
				<div class="text-block">
					<a href="#" class="edit">Edit this</a>
					<a href="mailto:&#098;&#105;&#106;&#097;&#110;&#064;&#100;&#101;&#112;&#115;&#116;&#097;&#114;&#046;&#099;&#111;&#109;">&#098;&#105;&#106;&#097;&#110;&#064;&#100;&#101;&#112;&#115;&#116;&#097;&#114;&#046;&#099;&#111;&#109;</a>
				</div>
				<form class="contact-form" action="#">
					<fieldset>
						<div class="wrapper">
							<div class="box-info">
								<div class="headline">
									<h4>Payment Address</h4>
								</div>
								<p>We’ll send your PayPal payment to:</p>
								<div class="text-block">
									<a href="#" class="edit">Edit this</a>
									<a href="mailto:&#098;&#105;&#106;&#097;&#110;&#064;&#100;&#101;&#112;&#115;&#116;&#097;&#114;&#046;&#099;&#111;&#109;">&#098;&#105;&#106;&#097;&#110;&#064;&#100;&#101;&#112;&#115;&#116;&#097;&#114;&#046;&#099;&#111;&#109;</a>
								</div>
							</div>
							<div class="box-info">
								<div class="headline">
									<h4>Shipping Address</h4>
								</div>
								<p>We’ll send a box with prepaid label to:</p>
								<div class="text-block">
									<address>
										Bijan Cronin<br />Washington<br />DC<br />USA, WA 12345
									</address>
									<a href="#" class="edit">Edit this</a>
								</div>
							</div>
						</div>
						<div class="wrapper">
							<div class="box-info">
								<h4>How did you hear about us?</h4>
								<div class="text-block">
									<select>
										<option>Choose one</option>
									</select>
								</div>
							</div>
							<div class="box-info">
								<h4>Terms of services</h4>
								<div class="text-block check">
									<input type="checkbox" id="ch1" />
									<label for="ch1">I Agree to <br /><a href="#">Terms and Conditions</a></label>
								</div>
							</div>
						</div>
						<div class="wrapper">
							<span class="notice">Go on to get your packing<br />and shipping instructions...</span>
							<span class="submit">
								<input type="submit" value="Submit Order" />
							</span>
						</div>
					</fieldset>
				</form>
			</div>
			<div class="checkout-content">
				<div class="heading">
					<h4>Your Box Contents</h4>
				</div>
				<div class="wrapper">
					<img src="/images/img13.png" alt="image description" width="67" height="66" />
					<div class="info">
						<span class="name">Apple iPhone 4S <br />16Gb At&amp;t</span>
						<span class="price">$314 <a class="remove" href="#">remove</a></span>
					</div>
				</div>
				<span class="total-price">Total Estimated Value <strong>$314</strong></span>
			</div>
		</div>
	</div>
</div>
