<% if @question_response.valid? %>
	<%= 'Offer - ' + number_to_currency(@question_response.quote) %>
	--> <%= link_to 'Accept & Get Paid', new_shipping_detail_path( :product_id => params[:question_response][:id], :question_response => @question_response ) %>
	<% debugger %>
<% end %>
<p id=\"error\"><%= flash[:error] %></p>