<% content_for :javascript do %>
<script type="text/javascript">
	window.removeEventListener("load", initPage, false);
</script>
<% end %>

<div class="product-description">
	<%= form_for @shipping_detail do |f| %>
		
	<div class="image">
		<div style='margin-bottom: 10px'>
			<%= image_tag @product.photo.url(:small) unless @product.nil? %>
		</div>
		<div style='text-align: center; width: 125px;'>
			<span class='product-title'><%= @product.name unless @product.nil? %></span>
		</div>
	</div>  
	<div class="conditions" style="float: left; width: 250px; clear: right; border: 1px solid red; height: 910px; min-height: 0px; padding-bottom: 20px; margin-bottom: 20px;">
		<h2>Your Information</h2>


	</div>
	<% end %>
	<div style='border: 1px solid blue; width: 30px; float: left;'>Test</div>
	<div class="aside" style='float: right; width: 150px; margin-top: 0px; padding-top: 0px; border: 1px solid green;'>
		<div id='price_quote_results' style='text-align: center;'>
			<%= render 'products/offer', :show_next_button => false unless @product.nil? %>
		</div>
		
		<div class="info-box">
			<h4>HOW DO WE CALCULATE YOUR OFFER?</h4>
			<p>Depstar calculates your offer based on two main factors: the quality of your phone, and the payback rate of our competitors. First, we ask you several basic questions to accurately assess the condition of your phone before it reaches our facility. Second, Depstar representatives are constantly updating pricing information to ensure that our quote is higher than our competitors.</p>
		</div>
	</div>
</div>