<div class="product-description">
	<div>
		<%= image_tag @sellcell_tracking_code unless @sellcell_tracking_code.nil? %>
	</div>
	<div class='order_complete'>
		<h1>Order Complete</h1>
		<h2><span class='start'>Congratulations!</span> Your Shipping Kit Is On It’s Way!</h2>
		<p>Now All You Have To Do Is Wait For It To Arrive In The Mail In A Few Days.</p>
		<p>Once your kit arrives just place your device(s) in the shipping pack and drop 
		it off at your local post office or just give it to your mailman. Once we receive
		your device(s) your payment will be processed the same day.</p>
		<p>If you have any questions we can be reached at <a href='mailto:support@depstar.com' style='color:blue;'>support@depstar.com</a></p>
	</div>
	<!-- Google Code for Product Request Conversion Page -->
	<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 982957744;
	var google_conversion_language = "en";
	var google_conversion_format = "1";
	var google_conversion_color = "ffffff";
	var google_conversion_label = "OJ78CMi8owIQsP3a1AM";
	var google_conversion_value = 0;
	/* ]]> */
	</script>
	<script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
	</script>
	<noscript>
	<div style="display:inline;">
	<img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/982957744/?label=OJ78CMi8owIQsP3a1AM&amp;guid=ON&amp;script=0"/>
	</div>
	</noscript>
</div>