<%#= render_breadcrumbs :separator => ' / ' %>
<p id="notice">
	<%= notice %>
</p>
<div class="product">
	<div class="items-holder">
		<table class="sell-table">
			<thead>
				<tr>
					<!--<td colspan="5">These are the <%#= @category.name %> we currently buy: </td> -->
					<td colspan="5">Select your Carriers</td>
				</tr>
			</thead>
			<tbody>
				<% @manufacturers.carriers.each_slice(5) do |slice| -%>
				<tr>					
					<% slice.each do |carrier| %>					
					<td> 
						<%= link_to image_tag("http://depstar.com/assets/products/missing_small.gif"), carrier_product_path(:cat_id=>params[:cat_id],:manufact_id => params[:manufact_id], :id => carrier.id) %>
						<p>
							<%= link_to carrier.name, carrier_product_path(:cat_id=>params[:cat_id],:manufact_id => params[:manufact_id], :id => carrier.id) %>
						</p>
					</td>
					<% end %>					
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>

