<p id="notice"><%= notice %></p>

<div style='padding: 0px 20px 0px 20px; '>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vestibulum ornare facilisis. Vestibulum nec quam ac ipsum ornare mollis. Nunc et lorem pellentesque neque consectetur convallis. Nulla vel neque augue. Donec in lacus eget nisi tincidunt venenatis non sed est. Quisque sodales pretium purus nec fringilla. Duis pretium sagittis posuere. Nulla pellentesque tortor orci, ac sollicitudin odio. Praesent vehicula varius risus, eget laoreet odio euismod non. In lacinia nisi non eros fringilla pretium imperdiet turpis lacinia. Vestibulum lectus neque, cursus at scelerisque eget, posuere sit amet enim. Suspendisse potenti. Proin tortor ipsum, tempus sit amet vehicula id, commodo in lectus. Sed eu velit nunc. Vivamus hendrerit accumsan mollis. Proin eu molestie felis. Nunc accumsan ullamcorper felis condimentum aliquam.</p>

<ul>
	<li>Integer condimentum risus fermentum nibh ultrices sit amet scelerisque tellus faucibus.</li>
	<li>Donec malesuada porta augue ac venenatis. Morbi ac pulvinar ante. Nam placerat, nulla eu pretium lacinia, magna nisi vestibulum magna, id volutpat purus lorem ut mi.</li> 
	<li>In hac habitasse platea dictumst. Suspendisse venenatis, odio ut tempor tincidunt, mi felis bibendum sem, non ultricies lorem dui at elit.</li>
	<li>Cras ut nisl sem. Duis quam nisi, facilisis at porta et, faucibus at leo.</li>
	<li>Quisque blandit arcu id lorem faucibus ac egestas lorem rutrum. Suspendisse potenti. </li>
</ul>

</div>
