<div id="header">
	<script >
	</script>
	
	<div class="upper-header">
		
		<ul class="social-networks">
			<!--<li class="facebook"><a href="http://www.facebook.com/pages/Depstar/109849125756594" target="_blank">facebook</a></li> !-->
			<div class ="pluginCountBox">
			  <!--<div class='fb-like' data-send='false' data-layout='box_count' data-width='5' data-height='35' data-show-faces='true'></div> !-->
			</div>  
			<li class="twitter"><a href="https://twitter.com/share" class="twitter-share-button" data-related="jasoncosta" data-lang="en" data-size="large" size="400px;" data-url="http://www.depstar.com" data-count="none">Tweet</a></li>
			<!--<li class="twitter"><a href="http://twitter.com/#!/depstar_com" target="_blank">twitter</a></li> !-->
			<li class="youtube"><a href="http://www.youtube.com/depstartv" target="_blank">youtube</a></li>
			<li class="bba"><a href="#">better business</a></li>
		</ul>
		
		<!-- 		
		<ul class="social-networks">
			<li class="twitter"><a href="#">twitter</a></li>
			<li class="youtube"><a href="#">youtube</a></li>
			<li class="bba"><a href="#">better business</a></li>
		</ul>
		<a href="http://www.facebook.com/pages/Depstar/109849125756594">
			<span class="facebook"><img src="/images/facebook.png" width="60" height="28" alt="" /></span>
		</a> -->
	</div>
	<div class="header-info">
		<h1 class="logo"><a href="/">depstar.com</a></h1>
		<div class="panel">
			<%= form_for :product, :url => { :controller => "products", :action => "search" }, :html => { :class => 'search-item' } do |f|%>
				<fieldset>
					<div class="text">
						<!-- <input type="text" value="Sell your item" /> -->
						<%= autocomplete_field_tag 'name', '', home_autocomplete_product_name_path, :size => 75, :value => "Sell your item" %>
					</div>
					<!-- <input type="submit" value="sell now" class="btn-sell-now" /> -->
					<%= f.submit :value => 'GO', :class => 'btn-sell-now' %>
				</fieldset>
			<% end %>
			<ul class="addnav">
				<li class="sign-up"><a href="/contact">Contact</a></li>
				<li class="my-account"><a href="/how_it_works">How It Works</a></li>
				<li class="help"><a href="/blogs">Blog</a></li>
			</ul>
		</div>
	</div>
</div>


