
<div id="header">
	<div class="upper-header">
		<ul class="social-networks">
			<li class="twitter"><a href="http://twitter.com/#!/depstar_com" target="_blank">twitter</a></li>
			<li class="youtube"><a href="http://www.youtube.com/depstartv" target="_blank">youtube</a></li>
			<li class="bba"><a href="#">better business</a></li>
		</ul>
		<span class="facebook">
			<a href="http://www.facebook.com/pages/Depstar/109849125756594" target="_blank">
				<img src="images/facebook.png" width="60" height="28" alt="" />
			</a>
		</span>
	</div>
	<div class="header-info">
		<h1 class="logo"><%= link_to 'depstar.com', root_path %></h1>
		<div class="panel">
			<%= form_for :product, :url => { :controller => "products", :action => "search" }, :html => { :class => 'search-item' } do |f|%>
				<fieldset>
					<div class="text">
						<!-- <input type="text" value="Sell your item" /> -->
						<%= autocomplete_field_tag 'name', '', home_autocomplete_product_name_path, :size => 75, :value => "Sell your item" %>
					</div>
					<!-- <input type="submit" value="sell now" class="btn-sell-now" /> -->
					<%= f.submit :value => 'GO', :class => 'btn-sell-now' %>
				</fieldset>
			<% end %>
			<ul class="addnav">
				<li class="sign-up"><a href="#">Contact</a></li>
				<li class="my-account"><a href="#">How It Works</a></li>
				<li class="help"><a href="#">Blog</a></li>
			</ul>
		</div>
	</div>
</div>


