<div id="header">
	<div class="header-holder">
		<h1 class="logo"><%= link_to 'Depstar', root_path %></h1>
			<%= form_for :product, :url => { :controller => "products", :action => "search" }, :html => { :class => 'search-form' } do |f|%>
				<fieldset>
					<label for="sell">SELL YOUR ITEM</label>
					<div class="text">
						 <%= text_field_tag 'name', '', :autocomplete => home_autocomplete_product_name_path, :value => "example: Apple iPhone 4", :class => 'cleardefault' %>
					</div>
					<%= f.submit :value => 'GO', :class => 'btn-search' %>
				</fieldset>
			<% end %>
			
			<div class="chat-holder">
			 	<h2><a href="https://livechat.boldchat.com/aid/140369408601088650/bc.chat?cwdid=2429043129259919230" target="_blank" onclick="window.open((window.pageViewer && pageViewer.link || function(link){return link;})(this.href + (this.href.indexOf('?')>=0 ? '&amp;' : '?') + 'url=' + escape(document.location.href)), 'Chat2325828698917037556', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=640,height=480');return false;">Live Chat</a></h2>				
				<span style='padding-left: 6px;'>8am - 8pm EST</span> 
			</div>
			
	</div>
</div>
