<%= render 'layouts/inner_head' %>
<body>
	<div id="wrapper">
						<%= render 'layouts/header' %>
						
													<%= yield %>
													
						<%#= render "layouts/threecolumns" %>
						<%= render "layouts/footer" %>
					
					</div>
				</body>
				</html>
